/**
表格样式
David Lei
*/
.customers
  {
  border-collapse:collapse;
  }

.customers td, #customers th 
  {
  border:1px solid #0080c0;
  }

.customers th 
  {
  font-size:1.1em;
  text-align:left;
  background-color:#1b9af7;
  color:#ffffff;
  }

.customers tr.alt td 
  {
  color:#000000;
  background-color:#6FCCFF;
  }
  
.addtable
  {
  border-collapse:collapse;
  }

.addtable td, #customers th 
  {
  border:1px solid #0080c0;
  }